.span {
  font-family: Inter;
}
.auction,
.home {
  text-decoration: none;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.home {
  width: 63.5px;
  line-height: 23px;
  color: inherit;
  cursor: pointer;
}
.auction {
  width: 109.2px;
  color: #abb0bc;
}
.span1 {
  font-family: Inter;
}
.shop {
  text-decoration: none;
  align-self: stretch;
  height: 19px;
  position: relative;
  line-height: 23px;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.shopNavigation {
  width: 53.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
  box-sizing: border-box;
}
.logoChild {
  position: absolute;
  top: 42px;
  left: 20.4px;
  border-radius: 50%;
  background-color: #e7a77d;
  width: 88.9px;
  height: 100px;
}
.circleLogo1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.frameChild,
.logo {
  height: 184px;
  width: 129.8px;
  position: absolute;
  margin: 0 !important;
  top: -17px;
  left: 13.6px;
  z-index: 2;
}
.frameChild {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 3;
}
.homeParent {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 823.8px;
  height: 355.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 61px 225px;
  box-sizing: border-box;
  gap: 66.4px;
}
.heroContent {
  align-self: stretch;
  height: 363.8px;
  position: relative;
  text-align: left;
  font-size: 20px;
  color: #954928;
  font-family: Belleza;
}
@media screen and (max-width: 450px) {
  .auction,
  .home,
  .shop {
    font-size: 16px;
  }
}
